.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat-container{
  display: flex;
  flex-direction: column;
  height:600px;
  border:1px solid blue;
  overflow: hidden;
}
.message-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}
.message{
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  align-self: flex-end;
}
.chat-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}
.chat-input input{
  flex:1;
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}
.chat-input button{
  background-color: #007bff; /* Example color for the Send button */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
