body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  margin: 10px;
}
.App1{
  display: flex;
  margin: 10px;
}
.App2{
  border: 1px solid blue;
}
.App3{
  border: 1px solid black;
  height: 300px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border:2px solid black;
  height: 200px;
}

.clusters{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green{
  background-color: green;
}

.red{
  background-color:red;
}
